[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"fastapi[standard]" = "0.115.12"
polars = "1.27.1"
SQLAlchemy = "2.0.40"
aiohttp = "3.11.16"
alembic = "1.15.2"
psycopg2 = "2.9.10"

[dev-packages]
pylint = "3.3.6"
pytest = "8.3.5"
pytest-asyncio = "0.26.0"
wiremock = "2.6.1"
aiofiles = "24.1.0"

[requires]
python_version = "3.13"

[scripts]
server = "fastapi run app/main.py"
