name: infinvis-rate-service

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    permissions:
      checks: write
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.23"
      - name: Install dependencies
        run: uv sync --group=dev
      - name: Run pylint
        run: uv run pylint --fail-under=9 ./src
      - name: Run tests
        run: |
          uv run pytest --cov-report xml:test-results/coverage.xml --cov src tests/ --junitxml=test-results/junit.xml
      - name: Test migrations
        run: uv run alembic upgrade head
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/test-results/junit.xml'
      - name: Publish code coverage
        uses: orgoro/coverage@v3.2
        with:
          coverageFile: test-results/coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}